/* This is a  second GitHub test. */

h1 {
  font-size: x-large;
  color: #03a9f4;
}

hr {
  border: dashed #03a9f4 thin;
}

input {
  padding: 0.3em 1em;
  background: white;
  border: solid #03a9f4;
  border-width: 1px 0px;
  transition: .3s;
}

input:hover {
  color: #03a9f4;
}

textarea {
  padding: 0.3em 1em;
  border: solid #03a9f4;
  border-width: 1px 0px;
}

label > input {
  display: none;
}

label {
  padding: 0.3em 1em;
  border: solid #03a9f4;
  border-width: 1px 0px;
  transition: .3s;
}

label:hover {
  color: #03a9f4;
}
