<header>
  <div class="header-logo">
    <a href="/main">PianoApp</a>
  </div>
  <ul class="header-menus">
    <li><a href="/testtop">ログアウト</a></li>
  </ul>
</header>

<div class="main top-main">
  <div class="top-message">
    <h2>ログイン後サービス画面</h2>
    <p></p>
    <a href="/record" class="btn-square">練習時間を記録する</a>
  </div>
</div>
