<header>
  <div class="header-logo">
    <a href="/testtop">PianoApp</a>
  </div>
  <ul class="header-menus">
    <li><a href="/about">PianoAppとは</a></li>
  </ul>
</header>


<div class="main top-main">
  <div class="top-message">
    <h2>ログイン画面(仮)</h2>
    メールアドレス<p><textarea name="comment" rows="1" cols="50"></textarea></p>
    パスワード<p><textarea name="comment" rows="1" cols="50"></textarea></p>
    <a href="/main" class="btn-square">サインイン</a>
  </div>
</div>
