#calendar {
  position: absolute;
  top: calc(9vh + 2.5vh);
  left: 2.5vw;
}

.calendar-title {
  text-align: center;
  font-size: 1.8rem;
  border-bottom: solid;
}

.calendar-table {

  .is-today {
    color: red;
  }

  td {
    width: 9vh;
    height: 9vh;
    line-height: 9vh;
    text-align: center;
  }

}

#calendar-input {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 9vh;
  font-size: 1.8rem;
  // color: black;
  line-height: 9vh;
  text-align: center;
  // background-color: white;
  border: solid;
  border-radius: 0.5rem;
  color: white;
  background-color: black;
}
