.main-container {
  position: absolute;
  top: 14vh;
  right: 5vw;
  bottom: 14vh;
  left: 5vw;
}

#calendar {
  display: flex;
  width: 30vw;
  height: 100%;
  flex-flow: column;  // 子要素を縦に配置
  justify-content:space-evenly;  // 均等割り付け
}

.calendar-title {
  text-align: center;
  font-size: 2rem;
  padding-bottom: 1vh;
  border-bottom: solid;
}

.calendar-table {

  width: 100%;
  height: 70%;
  table-layout: fixed;

  .is-today {
    color: red;
  }

  td {
    text-align: center;
  }

}

#calendar-input {
  display: inline-block;
  width: 100%;
  height: 7vh;
  font-size: 1.5rem;
  line-height: 7vh;
  text-align: center;
  border-radius: 0.5rem;
  color: white;
  background-color: black;
}
