.top-wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -2;
  justify-content: center;  // 子要素を均等割り付け
  align-items: center;  // 子要素を上下均等割り付け
  background-color: black;

}

.top-wrapper video {
  height: 100vh;
  width: 100vw;
  position: absolute;  // z-indexの指定用
  object-fit: cover;
  z-index: -1;
}

.top-container {
  display: flex;
  width: 80%;
  height: 80%;
  color: white;
  text-align: center;
  flex-flow: column;  // 子要素を縦に配置
  justify-content:space-evenly;  // 均等割り付け
}

.top-container h1 {
  font-size: 5em;
}

.break {
  display: inline-block;
}

.top-container p {
  font-size: 1.5em;
}

.top-container a {
  margin: 0 1em;
}


// Tablet

@media (max-width: 768px) {

  // .btn
  .top-container a {
    width: 100%;
    margin: 1em 0;
  }

}


// Smartphon

@media (max-width: 425px) {

  html {
    font-size: 0.8em;
  }

  .top-container {
    text-align: left;
  }

  .top-btn-container {
    text-align: center;
  }

  // .btn
  .top-container a {
    margin: 1em 0;
  }

}
