<div class="main-container">
  <div id="calendar">
    <h2 id="calendar-title">
      <span id="js-year"></span>年
      <span id="js-month"></span>月
    </h2>
    <table id="calendar-table">
      <thead>
        <tr>
          <th>Sun</th>
          <th>Mon</th>
          <th>Tue</th>
          <th>Wed</th>
          <th>Thu</th>
          <th>Fri</th>
          <th>Sat</th>
        </tr>
      </thead>
      <tbody id="js-calendar-body"></tbody>
      <script type="text/javascript">
        var $window = $(window);
        var $year = $('#js-year');
        var $month = $('#js-month');
        var $tbody = $('#js-calendar-body');

        var today = new Date();
        var currentYear = today.getFullYear(),
          currentMonth = today.getMonth();

        $window.on('load', function () {
          calendarHeading(currentYear, currentMonth);
          calendarBody(currentYear, currentMonth, today);
        });

        function calendarBody(year, month, today) {
          var todayYMFlag = today.getFullYear() === year && today.getMonth() === month
            ? true
            : false; // 本日の年と月が表示されるカレンダーと同じか判定
          var startDate = new Date(year, month, 1); // その月の最初の日の情報
          var endDate = new Date(year, month + 1, 0); // その月の最後の日の情報
          var startDay = startDate.getDay(); // その月の最初の日の曜日を取得
          var endDay = endDate.getDate(); // その月の最後の日の曜日を取得
          var textSkip = true; // 日にちを埋める用のフラグ
          var textDate = 1; // 日付(これがカウントアップされます)
          var tableBody = ''; // テーブルのHTMLを格納する変数

          for (var row = 0; row < 6; row++) {
            var tr = '<tr>';

            for (var col = 0; col < 7; col++) {
              if (row === 0 && startDay === col) {
                textSkip = false;
              }
              if (textDate > endDay) {
                textSkip = true;
              }
              var addClass = todayYMFlag && textDate === today.getDate()
                ? 'is-today'
                : '';
              var textTd = textSkip
                ? ' '
                : textDate++;
              var td = '<td class="' + addClass + '">' + textTd + '</td>';
              tr += td;
            }
            tr += '</tr>';
            tableBody += tr;
          }
          $tbody.html(tableBody);
        }

        function calendarHeading(year, month) {
          $year.text(year);
          $month.text(month + 1);
        }
      </script>
    </table>
    <p class="btn" id="calendar-input">記録する</p>
  </div>
  <div id="graph">
    グラフを表示
    <iframe src="https://open.spotify.com/embed/track/5Ks5ENUFNQDfaqxjZnCkVJ" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
  </div>
  <div id="main-form">
    <form action="#" method="post">
      <div id="main-textarea">
        <p>コメント</p>
        <textarea name="comment"></textarea>
      </div>
      <div id="main-input">
        <div class="main-input-side">
          <div>
            <p>練習した日</p>
            <input type="date" name="date">
          </div>
          <div>
            <p>始めた時間</p>
            <input type="time" name="time_start">
          </div>
          <div>
            <p>終わった時間</p>
            <input type="time" name="time_finish">
          </div>
        </div>
        <div class="main-input-side">
          <div>
            <p>演奏ファイル</p>
            <input type="file" name="file">
          </div>
          <div>
            <p>評価</p>
            <input type="number" name="evaluation">
          </div>
          <div>
            <input class="btn" type="submit" value="記録する">
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
