<div class="main top-main">
  <div class="top-message">
    <h2>ログイン後ホーム画面</h2>
    <p></p>
    <a href="/record" class="btn">練習時間を記録する</a>
  </div>
</div>

<!-- To Do -->
<!-- main.htmlの編集 -->
<!-- top.jsをcoffeeに -->
