<script src="https://kit.fontawesome.com/c7e7195a32.js" crossorigin="anonymous"></script>

<div class="main top-main">
  <div class="top-message">
    <!-- <h2>ログイン後ホーム画面</h2> -->
    <p>計画・目標</p>
    <!-- <a href="/record" class="btn">練習時間を記録する</a> -->

  </div>
<div id="calendar"></div>
</div>

<!-- bottom navigation -->

<ul class="bottom-menu">
    <li>
	<!--　↓↓項目1. ホーム 　＃の部分にホームのURLを入れる -->
        <a href="/main">
	<i class="fas fa-home fa-2x"></i><br><br><span class="mini-text">ホーム</span></a>
    </li>

    <li class="menu-width-max">
	<!-- ↓↓項目2. おすすめ　すぐ下の"＃"はそのまま -->
        <a href="/kiroku/new"><i class="fas fa-edit fa-2x"></i><br><br><span class="mini-text">記録</span></a>

		<ul class="menu-second-level">

		<!-- 下の"#"の部分におすすめ"記事URL"とタイトル等を入れる -->

        	</ul>
    </li>
    <li>
	<!-- ↓↓項目3.　読者登録 ↓↓の部分の書き換えが必要です -->
        <!--  ~hatena.ne.jp/自分のはてなID/URL(http://の部分は無し)/subscribe　-->
 	<a href="/posts/index">
	<i class="fas fa-list-ul fa-2x"></i><br><br><span class="mini-text">投稿</span></a>
    </li>
    <li>

        <a href="/about">
	<i class="fas fa-cog fa-2x"></i><br><br><span class="mini-text">設定</span></a>
    </li>

</ul>
