<form class="main top-main" action="/main" method="post">
  <div class="top-message">
    <h2>ログイン画面(仮)</h2>
      <h3>メールアドレス</h3>
        <p><input type="email" name="email" required</p>
      <h3>パスワード</h3>
        <p><input type="password" name="password" required></p>
      <a href="/main" class="btn-square">サインイン</a>
      <!-- <p><input class="btn-square" type="submit" value="サインイン"> -->
  </div>
</form>
