<form class="main top-main" action="#" method="post">
  <div class="top-message">
    <h2>新規登録画面</h2>
      <h3>氏名</h3>
        <p><input name="name" required></p>
    <h3>メールアドレス</h3>
      <p><input type="email" name="email" required></p>
      <!-- <p><input type="submit" value="サインアップ"></p> -->
  </div>
</form>
