<header>
  <div class="header-logo">
    <a href="/testtop">PianoApp</a>
  </div>
  <ul class="header-menus">
    <li><a href="/about">PianoAppとは</a></li>
    <li><a href="/signup">新規会員登録</a></li>
  </ul>
</header>

<div class="top">
  <!-- <video src="piano.mp4" autoplay playsinline muted loop></video> -->
  <div class="top-container">
    <h1>ピアノの上達を最大化。</h1>
    <p>ピアノ仲間、たくさん作ろう。</p>
    <a href="/signin" class="btn-square">サインイン</a>
    <a href="/signup" class="btn-square">サインアップ</a>
  </div>
</div>
