<div class="main top-main">
  <div class="top-message">


    <h2>練習時間、記録しよう</h2>
    <p>ピアノ仲間、たくさん作ろう。</p><br>
    <a href="/signin" class="btn-square">サインイン</a>
    <a href="/signup" class="btn-square">サインアップ</a>

  </div>
</div>
