<header>
  <div class="header-logo">
    <a href="/about">PianoApp</a>
  </div>
  <ul class="header-menus">
    <li><a href="/about">PianoAppとは</a></li>

  </ul>
</header>



<div class="main top-main">
  <div class="top-message">


    <h2>練習時間、記録しよう(テスト祖父)</h2>
    <p>ピアノ仲間、たくさん作ろう。</p>
<br>
      <a href="#" class="btn-square">サインイン</a>
    <a href="#" class="btn-square">サインアップ</a>

  </div>
</div>
