<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">記録する</h1>


    <div class="main">
      <%= form_tag("/kiroku/create") do %>
        <table>
          <tr>
            <td align="right">練習開始：</td>
            <td><input type="datetime-local" name="datetime" required></td>
          </tr>
          <tr>
            <td align="right">練習時間：</td>
            <td><input type="time" name="time" value="演奏時間" required></td>
          </tr>
        </table>
        <p>要点・ひとことメモ<p>
        <p><textarea name="content" rows="10" cols="50"></textarea></p>
        <p><input type="file" name="image" value="写真"></p>
        <p><input type="submit" value="記録する"></p>
      <% end %>
    </div>



  </div>
</div>
