<header>
  <div class="header-logo">
    <a href="/main">PianoApp</a>
  </div>
  <ul class="header-menus">
    <li><a href="/about">PianoAppとは</a></li>
    <li><a href="/posts/index">投稿一覧</a></li>
  </ul>
</header>

<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">編集する</h1>
  </div>
</div>
