<header>
  <div class="header-logo">
    <a href="/testtop">PianoApp</a>
  </div>
  <ul class="header-menus">
    <li><a href="/about">PianoAppとは</a></li>
    <li><a href="/posts/index">投稿一覧</a></li>
  </ul>
</header>

<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
      <%=@post.content %>
    </div>
    <div class="post-time">

            <%=@post.created_at %>
          </div>
          <div class="post-menus">
        <%= link_to("編集", "/posts/#{@post.id}/edit") %>
      </div>

  </div>
</div>
