.top {
  height: 100vh;
  display: flex;  // 子要素を中央揃えに
  justify-content: center;
  align-items: center;  // ここまで
  background-image: url("/top.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.top-container {
  color: white;
  text-align: center;
}

.top-container h1 {
  font-size: 70px;
  font-weight: 500;
}

.top-container p {
  font-size: 24px;
  padding-bottom: 120px;
}

.top-container a {
  margin: 0 10px;
}


// Smartphone

@media (max-width: 670px) {

  .top {
    height: 215px;  // px指定を変更したい！
    background-size: contain;
    background-repeat: no-repeat;
  }

  .top-container h1 {
    font-size: 1.5rem;
    padding-top: 50px;
  }

  .top-container p {
    font-size: 0.8rem;
    padding-bottom: 20px;
  }

  .top-container a {
    display: block;
    width: 93%;
    margin-bottom: 10px;
  }

}

// Video of testtop

.bg-video-wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background: url(https://designsupply-web.com/samplecontent/vender/codepen/20181014.png) no-repeat center center/cover;
}

video {
  min-width: 100%;
  min-height: 100vh;
  z-index: 1;
}

.overlay {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(45deg, rgba(0,0,0,.3) 50%, rgba(0,0,0,.7) 50%);
  background-size: 3px 3px;
  z-index: 2;
}
