.top {
  height: 100vh;
  display: flex;  // 子要素を中央揃えに
  justify-content: center;
  align-items: center;  // ここまで
  background-image: url("/top.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.top-container {
  color: white;
  text-align: center;
}

.top-container h1 {
  font-size: 70px;
  font-weight: 500;
}

.top-container p {
  font-size: 24px;
  padding-bottom: 120px;
}

.top-container a {
  margin: 0 10px;
}


// Smartphone

@media (max-width: 670px) {

  .top {
    background-image: url("/top-smartphon.jpg");
  }

  .top-container {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .top-container h1 {
    width: 100%;
    font-size: 4rem;
    line-height: 1.2;
    text-align: left;
    padding: 50% 10px 20px 10px;
  }

  .top-container p {
    font-size: 1.5rem;
    text-align: left;
    padding: 0 10px 50px 10px;
  }

  // .btn
  .top-container a {
    display: inline-block;
    width: 80%;
    height: 60px;
    font-size: 1.2rem;
    text-align: center;
    vertical-align: middle;
    margin: 15px;
  }

}

// Video of testtop

.bg-video-wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background: url(https://designsupply-web.com/samplecontent/vender/codepen/20181014.png) no-repeat center center/cover;
}

video {
  min-width: 100%;
  min-height: 100vh;
  z-index: 1;
}

.overlay {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(45deg, rgba(0,0,0,.3) 50%, rgba(0,0,0,.7) 50%);
  background-size: 3px 3px;
  z-index: 2;
}
