.btn {
  display: inline-block;
  color: white;
  text-align: center;
  background: black;
  border-bottom: solid 1px black;
  border-radius: 0.5vmax;
}

.btn:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);  // 下に動く
  border-bottom: none;  // 線を消す
}
