header {
  width: 100vw;
  position: fixed;
  z-index: 2;
}

.header-logo {
  display: inline-block;
  font-size: 1.5rem;
  line-height: 4rem;
  padding-left: 1.25rem;
}

.header-menus {
  float: right;
  padding-right: 1.25rem;
}

.header-menus li {
  font-size: 1rem;
  float: left;
  line-height: 4rem;
  padding-left: 1.5rem;
}

.header-signout a {
  color: white;
}

#header-signin {
  display: none;
  font-size: 2rem;
  color: black;
  float: right;
  line-height: 4rem;
  padding-right: 1.25rem;
}

#header-signout {
  display: none;
  font-size: 2rem;
  color: black;
  float: right;
  line-height: 4rem;
  padding-right: 1.25rem;
}

// topページで背景動画の下に隠すため、別に指定
#header-background {
  width: 100vw;
  height: 4rem;
  position: fixed;
  z-index: 1;
  background-color: white;
  border-bottom: solid 2px black;
}


// Tablet or Smartphon

@media (max-width: 768px) {

  .header-menus {
    display: none;
  }

  #header-signin {
    display: inline-block;
  }

  #header-signout {
    display: inline-block;
    color: white;
  }


}
