header {
  width: 100vw;
  height: 64px;
  position: fixed;
  z-index: 2;
  // background-color: #3ecdc6;
}

.header-background {
  width: 100vw;
  height: 64px;
  position: fixed;
  z-index: 1;
  background-color: #3ecdc6;
}

.header-logo {
  float: left;
  padding-left: 20px;
  line-height: 64px;
}

.header-logo a{
  color: white;
  font-size: 22px;
}

.header-menus {
  float: right;
  padding-right: 20px;
}

.header-menus li {
  float: left;
  line-height: 64px;
  font-size: 13px;
  color: white;
  padding-left: 15px;
}

.header-menus a {
  float: left;
  font-size: 13px;
  color: white;
}
