* {
  box-sizing: border-box;
}

html {
  font-size: 1em;
}

body {
  background-color: #3ecdc6;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  font-weight: normal;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

ul, li {
  list-style-type: none;
  margin: 0;
}
